# Núcleo de Análisis de Datos y Jupyter
jupyter>=1.0.0
pandas>=2.0.0
numpy>=1.23.0

# Visualización de Datos
matplotlib>=3.7.0
seaborn>=0.12.0
plotly>=5.14.0

# Machine Learning y Minería de Datos
scikit-learn>=1.2.0
mlxtend>=0.22.0

# Generación de Datos Sintéticos
Faker>=19.0.0
